/* Mobile menu styling */
.mobile-menu {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    overflow-x: hidden; 
    @apply lg:hidden  animate py-0 h-0
 }
 .mobile-menu.active {
     visibility: visible;
     @apply opacity-100 pt-24 pb-6 h-screen
   }
 .mobile-menu ul > li {
     @apply text-[#f5f5f5] uppercase border-b border-b-[#f5f5f5]/50 py-4 w-full block font-semibold
 }
 .mobile-menu ul li > .sub-menu {
     /* @apply hidden */
  }
 .mobile-menu ul li .sub-menu li {
    @apply border-none py-4 pl-6 font-normal
  }
  .mobile-menu ul li .sub-menu .sub-menu {
     @apply border-none py-2
  }
  .mobile-menu ul li .sub-menu .sub-menu li {
     @apply border-none py-2 opacity-80
 }
 
 .mobile-menu ul > li {
     @apply relative
 }
 .mobile-menu .menu-item a {
    @apply text-base text-white no-underline
 }
 .mobile-menu .menu-item  .menu-item-has-children {
     @apply relative
 }
 .mobile-menu .toggle-menu-button {
     @apply absolute right-0 top-4
 }
 .mobile-menu .toggle-menu-button {
     @apply animate
 }
 .mobile-menu .toggle-menu-button.active {
     @apply rotate-180
 }
 .mobile-menu > .menu-item:first-child {
   padding-left: 15px;
 }
 
 /* highlight current menu item  */
 
 .mobile-menu  .current-menu-item > a {
   @apply text-nebula-500
 }
 
 /* Sub-menu */
 
 .mobile-menu .sub-menu {
   max-height: 0;
   overflow: hidden;
   @apply animate opacity-0
 }
 .mobile-menu  .sub-menu.show {
   
     max-height: 300vh;
     @apply opacity-100
 } 
 